UsuarioTransmetro/src/conf/xml-resources/web-service-references/ServidorTransmetro/wsdl/localhost_8080/ServidorTransmetro/ServidorTransmetro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SistemTransmetro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SistemTransmetro/" name="ServidorTransmetro">
<types>
<xsd:schema>
<xsd:import namespace="http://SistemTransmetro/" schemaLocation="http://localhost:8080/ServidorTransmetro/ServidorTransmetro?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarestclave">
<part name="parameters" element="tns:buscarestclave"/>
</message>
<message name="buscarestclaveResponse">
<part name="parameters" element="tns:buscarestclaveResponse"/>
</message>
<message name="buscarchofer">
<part name="parameters" element="tns:buscarchofer"/>
</message>
<message name="buscarchoferResponse">
<part name="parameters" element="tns:buscarchoferResponse"/>
</message>
<message name="ingresarchofer">
<part name="parameters" element="tns:ingresarchofer"/>
</message>
<message name="ingresarchoferResponse">
<part name="parameters" element="tns:ingresarchoferResponse"/>
</message>
<message name="eliminaradmin">
<part name="parameters" element="tns:eliminaradmin"/>
</message>
<message name="eliminaradminResponse">
<part name="parameters" element="tns:eliminaradminResponse"/>
</message>
<message name="eliminarchofer">
<part name="parameters" element="tns:eliminarchofer"/>
</message>
<message name="eliminarchoferResponse">
<part name="parameters" element="tns:eliminarchoferResponse"/>
</message>
<message name="buscaradmin">
<part name="parameters" element="tns:buscaradmin"/>
</message>
<message name="buscaradminResponse">
<part name="parameters" element="tns:buscaradminResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="ingresaradmin">
<part name="parameters" element="tns:ingresaradmin"/>
</message>
<message name="ingresaradminResponse">
<part name="parameters" element="tns:ingresaradminResponse"/>
</message>
<message name="ingresarestacionclave">
<part name="parameters" element="tns:ingresarestacionclave"/>
</message>
<message name="ingresarestacionclaveResponse">
<part name="parameters" element="tns:ingresarestacionclaveResponse"/>
</message>
<message name="ingresarestageneral">
<part name="parameters" element="tns:ingresarestageneral"/>
</message>
<message name="ingresarestageneralResponse">
<part name="parameters" element="tns:ingresarestageneralResponse"/>
</message>
<message name="buscarestageneral">
<part name="parameters" element="tns:buscarestageneral"/>
</message>
<message name="buscarestageneralResponse">
<part name="parameters" element="tns:buscarestageneralResponse"/>
</message>
<message name="eliminarestageneral">
<part name="parameters" element="tns:eliminarestageneral"/>
</message>
<message name="eliminarestageneralResponse">
<part name="parameters" element="tns:eliminarestageneralResponse"/>
</message>
<message name="eliminarestaclave">
<part name="parameters" element="tns:eliminarestaclave"/>
</message>
<message name="eliminarestaclaveResponse">
<part name="parameters" element="tns:eliminarestaclaveResponse"/>
</message>
<portType name="ServidorTransmetro">
<operation name="buscarestclave">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscarestclaveRequest" message="tns:buscarestclave"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscarestclaveResponse" message="tns:buscarestclaveResponse"/>
</operation>
<operation name="buscarchofer">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscarchoferRequest" message="tns:buscarchofer"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscarchoferResponse" message="tns:buscarchoferResponse"/>
</operation>
<operation name="ingresarchofer">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresarchoferRequest" message="tns:ingresarchofer"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresarchoferResponse" message="tns:ingresarchoferResponse"/>
</operation>
<operation name="eliminaradmin">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminaradminRequest" message="tns:eliminaradmin"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminaradminResponse" message="tns:eliminaradminResponse"/>
</operation>
<operation name="eliminarchofer">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminarchoferRequest" message="tns:eliminarchofer"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminarchoferResponse" message="tns:eliminarchoferResponse"/>
</operation>
<operation name="buscaradmin">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscaradminRequest" message="tns:buscaradmin"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscaradminResponse" message="tns:buscaradminResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/helloRequest" message="tns:hello"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="ingresaradmin">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresaradminRequest" message="tns:ingresaradmin"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresaradminResponse" message="tns:ingresaradminResponse"/>
</operation>
<operation name="ingresarestacionclave">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresarestacionclaveRequest" message="tns:ingresarestacionclave"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresarestacionclaveResponse" message="tns:ingresarestacionclaveResponse"/>
</operation>
<operation name="ingresarestageneral">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresarestageneralRequest" message="tns:ingresarestageneral"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/ingresarestageneralResponse" message="tns:ingresarestageneralResponse"/>
</operation>
<operation name="buscarestageneral">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscarestageneralRequest" message="tns:buscarestageneral"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/buscarestageneralResponse" message="tns:buscarestageneralResponse"/>
</operation>
<operation name="eliminarestageneral">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminarestageneralRequest" message="tns:eliminarestageneral"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminarestageneralResponse" message="tns:eliminarestageneralResponse"/>
</operation>
<operation name="eliminarestaclave">
<input wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminarestaclaveRequest" message="tns:eliminarestaclave"/>
<output wsam:Action="http://SistemTransmetro/ServidorTransmetro/eliminarestaclaveResponse" message="tns:eliminarestaclaveResponse"/>
</operation>
</portType>
<binding name="ServidorTransmetroPortBinding" type="tns:ServidorTransmetro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarestclave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarchofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarchofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaradmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarchofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscaradmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaradmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarestacionclave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarestageneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarestageneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarestageneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarestaclave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServidorTransmetro">
<port name="ServidorTransmetroPort" binding="tns:ServidorTransmetroPortBinding">
<soap:address location="http://localhost:8080/ServidorTransmetro/ServidorTransmetro"/>
</port>
</service>
</definitions>